:root {
  --transition-all: all 0.3s ease-in-out;
}

* {
  padding: 0px;
  margin: 0px;
}

html,body {
  background: #ffffff;
  color: black;
  padding: 0;
  margin: 0;
  caret-color: transparent;
  font-family: "Microsoft Yahei", "微软雅黑", "PingFangSC-Regular", arial, "宋体", sans-serif;
  overflow-x: hidden;
  overflow-x: hidden;
}


  /* SCROLLER */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}


.text-base {
  font-size: 0.89rem;
  text-align: justify;
  line-height: 1.4;
  color: #747474;
}

.sec-tittle {
  font-size: 48px;
}



/* LINK ANIMATION */
a:hover {
  color: #666;  
}
a:focus,
*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #161616;
  transition: color 0.3s ease;
}
a:hover {
  text-decoration: none;
  color: var(--color-emphasize);
  transition: color 0.3s ease;
}
a:active,
a.clicked {
  text-decoration: none;
  color: #161616;
}




img {
  max-width: 100%;
}

.logo {
  height: 35px;
  width: 113px;
}




/* NAVIGATION BAR */
.nav-link a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6666666667);
  font-weight: 400;
  }

  .nav-link a:hover {
  color: #ffffff;
  }

  .nav-box-view {
    --navbar-item-space-half: 74px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    background-color: rgba(0, 0, 0, 0.82);
    transition: all 0.275s ease-in-out;
  }

  .nav-box-view .navbar {
    height: 72px;
  }
  .nav-box-view .navbar-nav {
    position: relative;
    transform: translateX(calc(var(--navbar-item-space-half) + var(--bs-navbar-nav-link-padding-x)));
  }
  .nav-box-view .navbar-nav .nav-item {
    display: inline-block;
    margin-inline-start: var(--navbar-item-space-half);
    margin-inline-end: var(--navbar-item-space-half);
  }
  
  .nav-blur-view {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    background-color: rgba(255, 0, 0, 0.65);
  }

  .en img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .vh-right {
    display: block;
  }
  
  .vh-right-phone {
    display: none;
  }
  
  .vh-right-web {
    display: flex;
  }
  
  .vh-right-web .en-title {
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    line-height: 36px;
  }
  

  
  .nav-content {
    padding-top: 60px;
    
  }
  
  .navbar-toggler {
    border: none !important;
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }
  
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar-toggler:hover {
    text-decoration: none;
  }
  
  .spacer {
    width: auto;
  }
  .nav-box-view {
    
    --nav-active-height: 250px;
    background-color: rgba(22, 22, 22, 0.9);
    transition: all 0.257s cubic-bezier(0.165, 0.84, 0.44, 1);
    height: 72px;
  }
  .nav-box-view.active {
    height: var(--nav-active-height);
  }
  
  .navbar-collapse {
    justify-content: space-between;
    text-decoration: none;
  }
  
  .nav-item.nav-link a {
    margin-left: 0;
    cursor: pointer;
  }
  .nav-item.active .subnav-group, .nav-item:hover .subnav-group {
    display: flex;
  }
  
.nav-item.simple {
  position: relative;
  display: block;
}
.nav-item.simple .subnav-group {
  display: none !important;
  padding-left: var(--bs-navbar-nav-link-padding-x);
}
.nav-item.simple:hover .subnav-group {
  display: block !important;
}


  
/* SUBNAV */
.subnav-group,
.subnav-list {
  
  list-style: none;
  padding: 0;
  margin: 0;
}
.subnav-group li,
.subnav-list li {
  padding: 0;
  margin: 0;
}

.subnav-group {
  display: none;
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
  padding: 30px 30px 30px calc(var(--navbar-item-space-half) + 8px);
  line-height: 1.4285em;
  transform: translateY(100%);
  z-index: 10; /* Ensures it appears above other content */
}
.subnav-group:before {
  position: absolute;
  z-index: 12;
  content: "";
  height: 40px;
  width: 100%;
  top: -24px;
  left: 0; /* Adjusted to match the full width */
  background-color: rgba(255, 255, 255, 0);
}

.subnav-group .subnav-group-title {
  font-size: 14px;
  color: #fff;
  line-height: 1.4285em;
  white-space: pre;
}
.subnav-group .subnav-group-title a {
  color: inherit;
}
.subnav-group .subnav-group-item {
  margin-right: 70px !important;
}


.nav-item.simpler .subnav-group {
  display: none !important;
}
.nav-item.simpler:hover .subnav-group {
  display: block !important;
}


.subnav-group.solution {
  flex-wrap: wrap;
}
.subnav-group.solution .subnav-group-item {
  width: 50%;
  margin-right: 0;
  padding-right: 40px;
  margin-bottom: 24px;
}
.subnav-group.solution .subnav-list .subnav-item {
  white-space: initial;
}

.subnav-list {
  display: flex;
  flex-direction: column;
}
.subnav-list .subnav-item {
  white-space: pre;
  font-size: 12px;
  line-height: 1.4285em;
  margin: 6px 0;
}
.subnav-list .subnav-item > a {
  color: #fff;
  opacity: 0.7;
}
.subnav-list .subnav-item.active > a {
  opacity: 1;
}






/* INNER HEADER ICOM */
.inner-header{
	background-color: rgba(0,0,0,1);
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.inner-header-icon{
	color: #ffffff;
	height: 50px;
	font-size:25px;
	text-align: center;
	float:right;
	width: 50px;
	position: relative;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.inner-header-icon:hover{
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}
.inner-header-icon span{
	position: absolute;
	left: calc((100% - 25px) / 2);
	top: calc((100% - 2px) / 2);
	width: 25px;
	height: 2px;
	background-color: rgba(255,255,255,1);
}
.inner-header-icon span:nth-child(1){
	transform: translateY(8px) rotate(0deg);
}
 
.inner-header-icon span:nth-child(2){
	opacity: 0;
}
 
.inner-header-icon span:nth-child(3){
	transform: translateY(-8px) rotate(0deg);
}
 
 
.inner-header-icon-click span:nth-child(1){
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: clickfirst;
	}
 
.inner-header-icon-click span:nth-child(2){
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: clicksecond;
}
 
.inner-header-icon-click span:nth-child(3){
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: clickthird;
	}
 
 
@keyframes clickfirst {
  0% {
	  transform: translateY(8px) rotate(0deg);
	  
  }
 
  100% {
    transform: translateY(0) rotate(45deg);
  }
}
@keyframes clicksecond {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
 
@keyframes clickthird {
  0% {
	  transform: translateY(-8px) rotate(0deg);
  }
 
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}	
 
.inner-header-icon-out span:nth-child(1){
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: outfirst;
	}
 
.inner-header-icon-out span:nth-child(2){
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: outsecond;
}
.inner-header-icon-out span:nth-child(3){
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: outthird;
	}
 
@keyframes outfirst {
  0% {
    transform: translateY(0) rotate(-45deg);
  }
 
  100% {
    transform: translateY(-8px) rotate(0deg);
  }
}
 
@keyframes outsecond {
  0% {
    opacity: 0;
  }
 
  100% {
	  opacity: 1;
  }
}
 
@keyframes outthird {
	0% {
		transform: translateY(0) rotate(45deg);
	}
 
	100% {
		transform: translateY(8px) rotate(0deg);
	}
}
 
.inner-nav{
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	position: absolute;
	top: 50px;
	left: 0px;
	padding-top: 30px;
	padding-bottom: 80px;
	display: none;
}
.inner-nav a{
	display: inline-block;
	line-height: 50px;
	text-decoration: none;
	width: 80%;
	margin-left: 10%;
	color: #FFFFFF;
	border-bottom: solid 1px rgba(255,255,255,0.3);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	font-weight:300;
}
.inner-nav a:hover{
	color: rgba(255,255,255,0.4);
	border-bottom: solid 1px rgba(255,255,255,0.2);
}


/* INNER HEAD3ER ICON END */













/* SLIDER HERO */
.swiper-container {
  width: 100%;
  background-color: #eee;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.swiper-pagination {
  margin-right: 15%;
}
.swiper-pagination-bullet {
  width: 7px; 
  height: 7px;
  border-radius: 100%;
  border: 4px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  border: 4px solid #ffffff;
}
.ani-slide {
  transform: scale(1.05);
  opacity: 1;
}

.navigation-manual{
  position:absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;

}
.manual-btn:not(:last-child){
    margin-right: 10px;
}
.manual-btn:active{
    background: white;
} 

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}












.box{
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid #3a3a3a;
  border-radius: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(20px);
}

.box-bg{
  background: rgba(8, 8, 8, 0.06);
  box-sizing: border-box;
  backdrop-filter: blur(20px);
}
.title{
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.label{
  width: 106px;
  height: 28px;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  background-color: #c5100b;
  border-radius: 14px;
  margin: 0 auto;
}
.label::after{
    content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  border-radius: 50%;
  background: #fff url("../assets/images/ai-label-arrow@2x.webp") no-repeat scroll center;
  transform: translateY(-1px);
  background-size: cover;
}

.icon img{
  width: 55%;
}
.desc{
  font-size: 20px;
}

.gambar{
  margin-left: 270px ;
  margin-top: -64px;
}


.bg-left {
  z-index: 3;
  left: 0;
  width: 56vw;
  background: url("../assets/images/ct-bg-left.webp") no-repeat scroll right center;
  background-size: cover;
}

.bg-right {
  right: 0;
  width: 44vw;
  background: url("../assets/images/ct-bg-right.webp") no-repeat scroll right center;
  background-size: cover;
}

#enjoy {
  position: relative;
  padding: 20px 0;
}

.container {
  position: relative;
  z-index: 5;
}

.bg-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.chat {
  border-radius: 60px 60px 60px 0px;
  display: inline-block; /* atau inline-flex */
  color: white;
  padding: 7px 34px 7px 34px;
}

.dark-ai{
  color: #fff;
  background-image: url("../assets/images/ai-background@2x.webp");
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  width: 100%;
}
#hardware {
  background-image: url("../assets/images/core-background.png@2x.webp");
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  width: 100%;
}

#smarthome {
  background-image: url("../assets/images/home-core-bg@2x.webp");
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  width: 100%;
}


/* SMART WIRELESS */

#smartwire {
  background: #E9E9E9;
}

.text-net {
  font-size: 36px; 
  font-weight: 700;
  left: 50%; 
  max-width: 270px;
  transform: translateX(-50%);
  position: absolute; 
  top: 0;
  width: 100%; 
  line-height: 1.5;
}

.text-net2 {
  font-size: 36px; 
  font-weight: 700;
  left: 50%; 
  max-width: 280px;
  transform: translateX(-35%);
  position: absolute; 
  top: 0;
  width: 100%; 
  line-height: 1.5;
}

.text-net3 {
  font-size: 36px; 
  font-weight: 700;
  left: 50%; 
  max-width: 290px;
  transform: translateX(-35%);
  position: absolute; 
  top: 0;
  width: 100%; 
  line-height: 1.5;
}

.text-net1 {
  max-width: 270px;
}
/* Intelligent PLC gateway */
#plc {
  background: #000  url("../assets/images/plc-bg@2x.webp") no-repeat scroll center bottom !important;
  height: 1000px;
}
.plc {
  background: #000  url("../assets/images/plc-bg@2x.webp") no-repeat scroll center bottom !important;
  height: 1000px;
}

.desc-plc {
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 32px;

}

.uniq-apps .content {
  padding-right: 12px;
  padding-left: 12px;
}
.uniq-apps .app-intro-wrapper {
  width: 70%;
  margin-right: 0;
  padding-right: 12px;
}
.uniq-apps .app-intro {
  flex-wrap: wrap;
  width: 100%;
  font-size: 12px;
}
.uniq-apps .app-intro li {
  width: 100%;
}
.uniq-apps .app-intro li + li {
  margin-top: 16px;
}
.uniq-apps .app-intro .title {
  font-size: 24px;
  margin-bottom: 0.3em;
}
.uniq-apps .app-intro .desc {
  font-size: 12px;
}
.uniq-apps .slider {
  width: 30%;
  padding-left: 12px;
}
.uniq-apps .slider .app-thumbs {
  flex-wrap: wrap;
}
.uniq-apps .slider .app-thumbs li {
  width: 100%;
  margin-right: 0;
}
.uniq-apps .slider .app-thumbs li + li {
  margin-top: 16px;
}
.uniq-apps .controls {
  display: none;
}







/* Uniq-apps <<< */

.uniq-apps .container {
padding-top: 40px;
padding-bottom: 60px;
}

.uniq-apps {
background-color: #121818;
background-image: url("../assets/images/uniq-apps-bg@2x.webp");
color: #fff;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-sizing: border-box;
}
.uniq-apps .content {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}
.uniq-apps .app-intro-wrapper {
flex-shrink: 0;
flex-grow: 0;
width: 260px;
margin-right: 70px;
overflow: hidden;
}
.uniq-apps .app-intro {
display: flex;
flex-wrap: nowrap;
flex-direction: row;
transition: var(--transition-all);
}
.uniq-apps .app-intro li {
width: 266px;
flex-shrink: 0;
flex-grow: 0;
}
.uniq-apps .app-intro .title {
font-size: 38px;
line-height: 1.6em;
margin-bottom: 20px;
}
.uniq-apps .app-intro .desc {
font-size: 20px;
line-height: 1.75em;
}
.uniq-apps .slider {
position: relative;
flex-shrink: 1;
flex-grow: 1;
width: 100%;
}
.uniq-apps .slider .app-thumbs {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
width: 100%;
}
.uniq-apps .slider .app-thumbs li {
width: 330px;
margin-right: 30px;
transition: all 0.275s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.uniq-apps .slider .app-thumbs li img {
width: 100%;
border-radius: 24px;
}
.uniq-apps .slider .app-thumbs li:first-child {
width: 400px;
}
.uniq-apps .slider .controls {
display: flex;
display: flex;
justify-content: space-between;
align-items: center;
position: absolute;
left: 430px;
top: 475px;
width: 330px;
}
.uniq-apps .slider .controls .indicator {
display: flex;
}
.uniq-apps .slider .controls .indicator li {
--indicator-color: #666666;
position: relative;
width: 20px;
height: 20px;
font-size: 0;
line-height: 0;
color: rgb(0 0 0 / 0%);
margin-right: 10px;
cursor: pointer;
transition: var(--transition-all);
}
.uniq-apps .slider .controls .indicator li:before, .uniq-apps .slider .controls .indicator li:after {
position: absolute;
top: 50%;
left: 50%;
width: 6px;
height: 6px;
content: "";
display: block;
transition: var(--transition-all);
border-radius: 50%;
transform: translate(-50%, -50%);
}
.uniq-apps .slider .controls .indicator li::before {
box-sizing: border-box;
border: 0px solid var(--indicator-color);
transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.uniq-apps .slider .controls .indicator li::after {
box-sizing: border-box;
background: var(--indicator-color);
}
.uniq-apps .slider .controls .indicator li:hover, .uniq-apps .slider .controls .indicator li.active {
--indicator-color: #c5100b;
}
.uniq-apps .slider .controls .indicator li:hover:before, .uniq-apps .slider .controls .indicator li.active:before {
width: 20px;
height: 20px;
border-width: 1px;
}
.uniq-apps .slider .controls .indicator li:hover:after, .uniq-apps .slider .controls .indicator li.active:after {
width: 8px;
height: 8px;
}
.uniq-apps .slider .controls .btns a {
display: inline-flex;
justify-content: center;
align-items: center;
width: 60px;
height: 30px;
border-radius: 15px;
background-color: #fff;
background-size: cover;
overflow: hidden;
margin-left: 10px;
transition: var(--transition-all);
}
.uniq-apps .slider .controls .btns a > span {
display: inline-block;
width: 18px;
height: 10px;
background: no-repeat scroll center;
background-size: contain;
background-image: url("../assets/images/uniq-apps-arrow-def.svg");
font-size: 0;
line-height: 0;
}
.uniq-apps .slider .controls .btns a:hover {
background-color: #c4140c;
}
.uniq-apps .slider .controls .btns a:hover > span {
background-image:  url("../assets/images/uniq-apps-arrow-act.svg") ;
}
.uniq-apps .slider .controls .btns .next {
transform: rotate(180deg);
}

.uniqap ul {
list-style-type: none; /* Menghilangkan titik pada elemen li */
padding-left: 0; /* Menghilangkan indentasi */
}

.section ul, .section li {
list-style: none;
margin: 0;
padding: 0;
}

/* FOOTER */
.footer {
  background-color: #191919;
}
.footer a {
  color: inherit;
}
.footer a:hover {
  opacity: 0.6;
}
.footer .container {
  padding: 24px 0 20px;
}
.meta-list {
  display: flex;
  height: 84px;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.meta-list li {
  margin-right: 32px;
}
.footer .meta-list .titlee {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 16px;
}
.sub {
  font-size: 14px;
  line-height: 18px;
  color: #adadad;
}
.app-list {
  display: flex;
  height: 84px;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}
.app-list li {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.app-list li:first-child {
  margin-right: 90px;
}
.app-list li:first-child:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10%;
  right: -45px;
  height: 80%;
  border-right: 1px dashed #4d4d4d;
}
.app-list li .srcode {
  margin-right: 16px;
}
.app-list li .srcode img {
  width: 64px;
  height: 64px;
}
.footer .app-list li .titlee {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 8px;
}
.footer .app-list li .sub {
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}
.divider {
  border-top: 1px solid #4d4d4d;
  margin-top: 24px;
  margin-bottom: 20px;
}
.site-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-links li {
  margin-left: 1.5em;
}
.site-links a {
  color: #999999;
  text-decoration: none;
}
.copyright, .copyright a {
  color: #adadad;
  font-size: 14px;
  margin-bottom: 1em;
  text-decoration: none;
}

/* Responsiveness */
@media (max-width: 640px) {
  
}



